@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto";
	font-weight: 500;
}

body {
	background-color: lightgrey;
	font-family: "Roboto";
}

.con {
	height: auto;
}

.con-signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-width {
	width: 20rem;
}

.margin-t {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.spanEdit {
	margin-bottom: 2rem;
}

.inputLabel {
	color:black;
}

.latestPost {
	width: 100%;
	height: auto;
	/* display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; */
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.lPost {
	display: inline-block;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pt-15 {
	padding-top: 15px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

.hide {
	display:none;
}

.line{
	display: block;
	height: 5px;
	width: 250px;
	background-color:#FFE0D2; 
}

.logo{
	margin-top: 50px;
	margin-bottom:50px;
}