@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway";
	font-weight: 900;
}

body {
	background-color: lightgrey;
	font-family: "Roboto";
}

.con {
	border: 5px solid orange;
	height: auto;
}

.con-signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.margin-t {
	margin-top: 1rem;
}

.inputLabel {
	color:black;
}

.latestPost {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.lPost {
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pt-15 {
	padding-top: 15px !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
}
.hide {
	display:none;
}
