@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Raleway;''
	font-weight: 900;
}

body {
	background-color: lightcoral;
	font-family: Roboto;
}

.con {
	border: 5px solid orange;
	height: auto;
}

.con-signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-control {
	width:100%;
}
