.like {
    background: lightgrey;
}
.color > p{
	background-color: lightsalmon;
}

.heart{
	color:blue;
	margin-right:0.5rem;
}

.button-container{
	margin-right: 1rem;
/*	border: 1px solid lightgrey;*/
	padding:0.3rem 1rem 0.3rem 0rem;

}
.commentButton{
	margin-bottom:1.5rem;
/*	padding:0.3rem;*/
}

.deletePost{
	margin-left: 5px;
/*	  	padding:0.3rem;*/
/*	padding-right:0rem !important;*/
}
.editPost{
/*	  	padding:0.3rem;*/
}

/*.postWall{
	margin-top:2.3rem;
}*/

i[class*="icon"] {
  margin-left:1rem;
  line-height: 1;
}

