.like {
    background: lightgrey;
}
.color > p{
	background-color: lightsalmon;
}

.heart{
	color:blue;
	margin-right:0.5rem;
}

.button-container{
	margin-right: 1rem;
/*	border: 1px solid lightgrey;*/
	padding:0.3rem 1rem 0.3rem 0rem;

}

.deletePost{
	margin-left: 5px;
}