.like {
	background: lightgrey;
}
.color > p{
	background-color: lightsalmon;
}

.card {
	/* background-color: black; */
}

/* .flexwrap-div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
} */

.heart{
	color:blue;
	margin-right:0.5rem;
}

.button-container{
	//margin-right: 1rem;
//padding:0.3rem 1rem 0.3rem 0rem;

}

.commentButton{
	margin-bottom:1rem;
}

.deletePost{
	margin-left: 5px;
}


/* i[class*="icon"] {
	margin-left:1rem;
	line-height: 1;
} */
